.footer {
    box-sizing: border-box;
    width: 100vw;
    height: fit-content;
    padding: 25px 10vw;
    display: flex;
}

.footer-item {
    height: fit-content;
    flex: 1;
    display: flex;
    justify-content: center;
}

.contact-box span {
    margin-right: auto;
}

.back-to-top span {
    margin-left: auto;
}

p {
    font-size: 10pt;
}

.page-name-content {
    font-size: 14pt;
}